.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #333;
  color: white;
}

.navbar-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  
}

.news-icon {
  margin-right: 8px;
}

.navbar-time {
  margin-left: auto;
  font-size: 18px;
}


  
  /* ... other styles ... */
  